.queryboard{
    width: 100%;
    display: flex;
    // cursor: pointer;
    align-items: center;
    border-bottom: 1px solid #141318;
    border-top: 1px solid #696971;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: rgb(43, 42, 47);
    background: linear-gradient(
      360deg,
      rgba(43, 42, 47, 1) 0%,
      rgba(53, 53, 55, 1) 100%
    );
    box-sizing: border-box;
    height: 2.5em;
    padding: 15px;
    
}