.change-forecast{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    
    @media (max-width: 550px){
        justify-content: center;
    }
}

.daily-btn,
.hourly-btn{
    margin-right: 2rem;

    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.6rem 0.8rem;
    border: 2px solid transparent;

    cursor: pointer;
}
.daily-btn{
    visibility: hidden;
}

.forecast-selected {
    border: 2px solid #f5f5f5;
    border-radius: 3px
}

.change-hours {
    margin: 1rem;
    width: 6rem;
    display: flex;
    justify-content: space-between;
    position: relative;

    &__left,
    &__right{
        width: 1rem;
        cursor: pointer;
    }
}


.dot{
   
    height: 7px;
    width: 7px;
    background-color: transparent;
    border: 1px solid #f5f5f5;
    border-radius: 50%;
    
    cursor: pointer;
}
.dot1{
    position: absolute;
    top: 10px;
    left: 25px;   
}
.dot2{
    position: absolute;
    top: 10px;
    left: 45px;   
}
.dot3{
    position: absolute;
    top: 10px;
    left: 65px;   
}
.dot-selected {
    background-color: #f5f5f5;
  }

.forecast-daily-container{
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media (max-width: 550px){
        flex-direction: column;
        align-items: center;
    }
  }

  .forecast-daily{

    @media (max-width: 550px){
        display: flex;
        width: 60%;
        height: 40px;

        &:not(:last-child){
            margin-bottom: 1rem;
        }
    }

    @media (max-width: 500px){
        width: 65%;
    }
    @media (max-width: 450px){
        width: 70%;
    }
    @media (max-width: 400px){
        width: 80%;
    }
    @media (max-width: 350px){
        width: 85%;
    }
    @media (max-width: 330px){
        width: 100%;
    }
    &__day{
        font-size: 1rem;
        margin-bottom: 0.8rem;
    }
    &__temperature{
        
        &-high{
            margin-bottom: 0.5rem;
            font-size: 0.2rem;
            font-weight: 700;
        }

        &-low{
            font-size: 0.8rem;
            font-weight: 800;
        }

        @media (max-width: 550px) {
            margin-right: 4rem;
            width: 55px;
          }
        }
        
        &__icon{
            margin-top: 1rem;
            width: 2rem;
            
            @media (max-width: 550px) {
                margin-top: 1rem;
              }
        }
    }
    .forecast-hourly-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        transition: 0.2s all ease-in-out;
    
        @media (max-width: 550px){
            flex-direction: column;
            align-items: center;
        }
      }
  .forecast-hourly{

    @media (max-width: 550px){
        display: flex;
        width: 60%;
        height: 40px;

        &:not(:last-child){
            margin-bottom: 1rem;
        }
    }

    @media (max-width: 500px){
        width: 65%;
    }
    @media (max-width: 450px){
        width: 70%;
    }
    @media (max-width: 400px){
        width: 80%;
    }
    @media (max-width: 350px){
        width: 85%;
    }
    @media (max-width: 330px){
        width: 100%;
    }
    &__time{
        font-size: 1rem;
        margin-bottom: 0.8rem;
    }
    &__temperature{
        
        &-high{
            margin-bottom: 0.5rem;
            font-size: 1.5rem;
            font-weight: 700;
        }

        &-low{
            font-size: 0.8rem;
            font-weight: 800;
        }

        @media (max-width: 550px) {
            margin-right: 4rem;
            width: 55px;
          }
        }
        
        &__icon{
            margin-top: 1rem;
            width: 1.5rem;
            
            @media (max-width: 550px) {
                margin-top: 1rem;
              }
        }
        
  }