
   

    .handle1 {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background: rgb(43, 42, 47);
        background: linear-gradient(360deg,
                rgba(43, 42, 47, 1) 0%,
                rgba(53, 53, 55, 1) 100%);
        padding: 15px;
        border-bottom: 1px solid #141318;
        border-top: 1px solid #696971;

        .dots-ver2 {
            display: flex;
            // width: 100%;
            // justify-content: space-evenly;

            .dot-ver2 {
                border-radius: 50%;
                border: none;
                height: 0.8em;
                width: 0.8em;
                margin-right: 9px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

                .close1,
                .minimize1,
                .stretch1{
                    opacity: 0;
                    transition: 0.2s all ease-in-out;
                }

            }

            .red1 {
                background-color: red;
            }

            .yellow1 {
                background-color: yellow;
            }

            .green1 {
                background-color: green;
                margin-right: 1em;
            }


        }

        .dots-ver2:hover .dot-ver2 {
            transform: scale(1.2);

            .close1,
            .minimize1,
            .stretch1 {
                opacity: 1;
            }
        }
        .windowNav-header{
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;
            h1 {
                color: #f5f5f5;
                font-size: 1.2rem;
                font-weight: 500;
                
                
            }
        }
    }
